<div class="case-card" *ngIf="case">

    <div class="case-name">
        Case {{index+1}}: {{case.name}}
    </div>

    <div class="case-date">
        
        Date: {{case.date}}
    </div>

    <div class="case-dni">
        
        Dni: {{case.dni}}
    </div>

    <div class="case-phone">
        
        Phone: {{case.phone}}
    </div>

    <div class="case-fever">
        
        Fever: {{case.fever}}
    </div>

    <div class="case-cough">
        
        Cough: {{case.cough}}
    </div>

    <div class="case-breathing_difficulty">
        
        Breathing Difficulty: {{case.breathing_difficulty}}
    </div>

    <div class="case-general_discomfort">
        
        General Discomfort: {{case.general_discomfort}}
    </div>
   
</div>
<hr>
<br>